@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap");

* {
  font-family: "Bitcount Prop Single", system-ui;
}

body {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  height: 2rem;
}

.nav-link {
  color: black;
  margin-right: 0.5rem;
  transition: 0.5s ease;
}

.nav-link:hover {
  transition: 0.5s ease;
  transform: translateY(-5px);
  border: 1px solid #000;
  border-radius: 30px;
  margin-right: 0.5rem;
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

textarea {
  min-height: 150px;
  max-height: 150px;
  max-width: 48vw;
  min-width: 48vw;
  border-radius: 35px;
  padding: 30px;
}

#post-view {
  display: block;
  text-align: center;
}
.form-group {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.post-container {
  max-width: 50vw;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-row {
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  transition: 0.5s ease;
  border: none;
}

.btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: 0.5s ease;
}

.form-control {
  box-shadow: 3px 5px #0000003d;
  border-radius: 25px;
  border: 1px solid #000;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #000;
}

.container {
  box-shadow: 3px 5px #0000003d;
  border-radius: 35px;
  border: 1px solid #000;
  padding: 20px;
  transition: 0.5s ease;
  margin-bottom: 2rem;
}
.container:hover {
  transform: translateY(-5px);
  transition: 0.5s ease;
}

.edit_post {
  color: #000;
}
