@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap");

* {
  font-family: "Bitcount Prop Single", system-ui;
}

textarea {
  min-height: 400px;
}

.form-control {
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 2px 3px #0000003a;
}

.form-control:focus {
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  box-shadow: none;
}

.btn-outline-primary {
  border: 1px solid #000;
  border-radius: 25px;
  box-shadow: 2px 3px #0000003a;
  color: #fff;
  background-color: #000;
  padding: 10px 15px;
  margin-right: auto;
  margin-left: auto;
  transition: 0.5s ease;
}

.btn-outline-primary:hover {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  transform: translateY(-10px);
  transition: 0.5s ease;
}

.box-btn {
  display: flex;
}

.btn-outline-primary:focus {
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  box-shadow: none;
}

.btn-primary {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 5rem;
  background-color: #000;
  color: #fff;
  transition: 0.5s ease;
  font-weight: 500;
  box-shadow: 2px 3px #0000003a;
}

.btn-primary:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.register {
  text-align: center;
  margin-top: 1rem;
  text-shadow: 2px 3px #0000003a;
}

.form-login {
  margin-top: 5rem;
}

.form-group {
  margin-bottom: 1rem;
}
